.footer{
    background-color: #245852;
    color: #FFFFFF;
    padding: 104px 0 144px;
}
.footer-content{

}
.footer-logo + * {
    margin-top: 74px;
}
.footer-nav{
    Font-family: "Lato", serif;
    Font-weight: 600;
    Font-size: 25px;

}
.footer-nav li + li {
    margin-top: 60px;
}
.footer-nav a{
    transition: opacity 0.2s ease ;
}
.footer-nav a:hover {
    opacity: 0.8;
}
@media(max-width: 1399px){
    .footer{
        padding: 80px 0 80px;
    }
    .footer-logo + * {
        margin-top: 50px;
    }
    .footer-nav{
        font-size: 22px;
    }
    .footer-nav li + li {
        margin-top: 40px;
    }
}

@media(max-width: 320px){
    .footer{
        padding: 40px 0 40px;
    }
    .footer-logo + * {
        margin-top: 30px;
    }
    .footer-nav{
        font-size: 18px;
    }
    .footer-nav li + li {
        margin-top: 20px;
    }
}
