.header{
    padding-top: 18px;
    padding-bottom: 17px;
    border-bottom: 1px solid #d6d6d6;
    line-height: 1.5;
}

.header-row{
    display: flex;
    align-items: center;
}
.header-logo{
margin-right: 172px;
}
.header-nav{
    font-weight: 500;
    color: #292929;
}
.header-nav ul{
    display: flex;
}
.header-nav li:not(:last-child) {
    margin-right: 70px;
    min-width: 100px;
}
.header-nav a{
    transition: color 0.2s ease;
}
.header-nav a:hover {
    color: #01996d;
}
.header-login{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-login-link{
    color:#000;
    transition: color 0.2s ease;
    margin-right: 35px;
    line-height: 1;
    min-width: 60px;
}


.header-login-link:hover{
    color: #01996d;
}
@media (max-width: 1199px) {
    .header-logo {
        margin-right: 30px;
    }

    .header-nav li:not(:last-child) {
        margin-right: 10px;
    }

    .header-row{
        justify-content: space-between;
    }
    .header-nav{
        margin-left: 30px;
    }
    .header-nav li +li {
        margin-left: 50px;
    }
    .header-login{
        margin-left: 30px;
    }
}
@media (max-width: 991px){
    .header-nav, .header-login{
        display: none;
    }
}
